<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @anime.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @anime.year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @anime.description %>
</p>

<%= link_to 'Edit', edit_anime_path(@anime) %> |
<%= link_to 'Back', anime_index_path %>
